.player-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

.player-title {
    padding-top: 50px;
    font-weight: bold;
}

.player-copyright {
    padding-bottom: 100px;
    font-style: italic;
}